body {
    background-position: center 0;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-size: cover;
    background-image: url("./img/back1.jpg");
    color: #FFF;
}

input {
    background-color: #000;
    color: #FFF;
    border: none;
    border-bottom: 1px solid #fff;
}

.main {
    
    margin: 0px auto;
    min-height: 100%;
    max-width: 400px;
}

.iiner {
    margin: 20px;
}

.tittle {
    margin: auto;
    text-align: center;
}

.board {
    background-color: #336600;
    min-height: 100%;
    min-width: 100%;
}

.error {
    color: red;
    font-weight: bold;
}

label {
    float: left;
    text-align: right;
    width: 200px;
    padding-right: 15px;
}

.welcome {
    float: right;
    margin-right: 25px;
}

.choices {
    margin: 50px auto;
    text-align: center;
}

.choice {
    color: #FFF;
    min-width: 150px;
    min-height: 160px;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #000;
}

.choice:hover {
    box-shadow: 0px 0px 5px #fff;
}

.choice a {
    color: #fff;
}

choice a:hover {
    color: yellow;
}

.choice img {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.game {
    height: 80vh;
    width: 100%;
   
}

.poker-board {
    background-color: rgba( 0 ,0, 0, .2);
    height: 700px;
    width: 1200px;
    margin: auto;
}

.poker-dealer {
    background-color: transparent;
    width: 100%;
    height: 50%;
}

.poker-player {
    width: 100%;
    height: 50%;
}

.poker-player-box {
    background-color: rgba( 0 , 0 , 0 , .9);
    height: 100%;
    width: 24.7%;
    display: inline-block;
    margin: auto;
}

.poker-cards {
    height: 40%;
    width: 100%;
}

.poker-cards img {
    width: 25%;
    margin: auto;
}

.poker-user {
    height: 60%;
    width: 100%;
}

.poker-play-card-1 {
    margin-left: 20px !important;
}

.poker-play-card-2 {
    margin-left: -35px !important;
}

.poker-play-card-3 {
    margin-left: -35px !important;
}

.poker-play-card-4 {
    margin-left: -35px !important;
}

.poker-play-card-5 {
    margin-left: -35px !important;
}

.crapsDiv{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 10px inset royalblue;    
    padding: 10px; 
    width: 120px;
    margin-bottom: 10px;
}

.crapsImage{
    width: 54px; 
    height: 54px;
}