

body {
    background-color: #00BFFF;
    color: #FFF;
}

nav {
background-color: #000;
margin: -10px;
padding: 10px;
color: #fff;
}

nav span {
    margin-left: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    color: #00BFFF;
}

input {

    border: none;
}
fieldset {
    border: none;
}

.main {
    
    margin: 0px auto;
    min-height: 100%;
    max-width: 400px;
}

.iiner {
    margin: 20px;
}

.tittle {
    margin: auto;
    text-align: center;
}

.tittle img {
    height: 50px;
    width: 50px;
}

.board {
    background-color: #336600;
    min-height: 100%;
    min-width: 100%;
}

.error {
    color: red;
    font-weight: bold;
}

label {
    float: left;
    text-align: right;
    width: 200px;
    padding-right: 15px;
}



.welcome {
    float: right;
    margin-right: 25px;
}

.choices {
    margin: 50px auto;
    text-align: center;
}

.choice {
    color: #FFF;
    min-width: 150px;
    min-height: 160px;
    display: inline-block;
    border: 3px solid #000;
    border-radius: 10px;
    background-color: #000;
}

.choice:hover {
    box-shadow: 0px 0px 15px #fff;
}

.choice a {
    color: #fff;
}

choice a:hover {
    color: yellow;
}

.choice img {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.game {
    height: 80vh;
    width: 100%;
    margin-top: 20px;
    
}

.poker-board {
    background-color: rgba( 0 ,0, 0, .2);
    height: 700px;
    width: 1200px;
    margin: auto;
}

.poker-dealer {
    background-color: transparent;
    width: 100%;
    height: 50%;
}

.poker-controls form {
    margin: auto;
    text-align: center;
}

.poker-controls form input {
    background-color: red;
    color: #fff;
    border: none;
    padding: 2px;
    width: 50px;
    text-align: center;
}

.poker-controls form button {
    width: 40px;
    color: #FFF;
    background-color: red;
    border: none;
    text-align: center;
    font-wieght: bold;
}

.poker-player {
    width: 100%;
    height: 50%;
}

.poker-player-box {
    background-color: rgba( 0 , 0 , 0 , .9);
    height: 100%;
    width: 24.7%;
    display: inline-block;
    margin: auto;
}

.poker-cards {
    height: 60%;
    width: 100%;
}

.poker-cards img {
    width: 25%;
    margin: auto;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.poker-user {
    height: 40%;
    width: 100%;
    margin: 10px;
}

.poker-output {
    float: right;
}

.poker-play-card-1 {
    margin-left: 20px !important;
}

.poker-play-card-2 {
    margin-left: -35px !important;
}

.poker-play-card-3 {
    margin-left: -35px !important;
}

.poker-play-card-4 {
    margin-left: -35px !important;
}

.poker-play-card-5 {
    margin-left: -35px !important;
}

.poker-hand-msg {
    text-align: center;
    
}

.stat-table {
    background-color: rgba( 0 ,0 ,0 , .5);
    max-width: 700px;
    min-height: 500px;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

.poker-stats {
    text-align: left;
}

.stat-table table {
    margin: auto;
}

.stat-table td ,th {
    margin: 10px !important;
    padding: 10px;
}

.stat-table img {
    width: 75px;
    height: 75px;
}

.console {
    padding: 10px;
    margin: 20px auto;
    max-width: 400px;
}

.console-div {
    padding: 20px;
    margin: 20px auto;
}

.console form {
    display: inline-block;
}

.console form:hover {
    background-color: #FFF;
}

.crapsDiv{
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 10px inset royalblue;    
    padding: 10px; 
    width: 120px;
    margin-bottom: 10px;
}

.crapsImage{
    width: 54px; 
    height: 54px;
}